.key {
    height: 5em;
    width: 5em;
    margin: .2em;
}

.dark {
    background-color: #333;
    transition: 2s;
}

#body.dark h1,
#body.dark label {
	color: #f4f4f4;
}

.retro {
    font-family: 'VT323', monospace;
}